.product-bg-main{
    background-size:cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .product-bg-main{
        background-size:cover;
        background-repeat: no-repeat;
    }
    
}