.herosection-main {
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}

.hero-section-group-one {
    display: grid;
    background-color: #0000009b;
    place-content: center;
    height: 100%;
}

.hero-section-tagline {
    display: flex;
    justify-content: start;
    /* margin-bottom: -40px; */
    padding: 9rem 6rem 0rem 7rem;
}

.hero-section-tagline p {
    padding: 10px 20px 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}

.hero-section-group-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.hero-section-group-two-inner-one {
    width: 48%;
}

.hero-section-group-two-inner-one-text {
    font-size: 1.5rem;
    margin-top: 101px;
    width: 100%;
    display: block;
    justify-content: center;
}

.hero-section-group-two-inner-one-text p {
    text-align: start;
    line-height: 40px;
    margin-left: 100px;
    width:80%
}

.hero-section-group-two-inner-one-button {
    padding: 2rem 6rem 0rem 7rem;
}

.hero-section-group-two-inner-two-button {
    display: none;
}

.hero-section-heading {
    background-size: 200% 200%;
    background-clip: text;
    color: var(--yellow);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px ;
    font-size: 92px;
    line-height: 120%;
    position: relative;
    transition: all .3s ease;
    font-weight: 900;
    font-family: sans-serif;
}

.hero-section-heading span{
    font-family: sans-serif;

}

.hero-section-text {
    font-size: 2.5rem;
    text-align: start;
}

.hero-section-text p {
    line-height: 50px;
    display: flex;
}

@media screen and (max-width: 768px) {
    .herosection-main {
        width: 100vw;
        height: 100vh;
        color: white;
    }

    .hero-section-group-one {
        display: grid;
        background-color: #0000005e;
        place-content: center;
        height: 100%;
    }

    .hero-section-tagline {
        display: flex;
        justify-content: center !important;
        margin-bottom: 0px;
        padding: 7rem 0 0;
    }

    .hero-section-tagline p {
        padding: 8px 15px 8px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
    }

    .hero-section-tagline p i {
        font-size: 13px;
    }

    .hero-section-group-two {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }

    .hero-section-group-two-inner-one {
        width: 100%;
    }

    .hero-section-group-two-inner-one-text {
        font-size: 16px;
        display: block;
        width: 100%;
        margin-top: 50px;
        text-align: center;
        
    }

    .hero-section-group-two-inner-one-text p {
        text-align: center;
        line-height: 25px;
        margin-left: 0px;
        padding:2px 10px;
        width: 100%;
    }

    .hero-section-group-two-inner-one-button {
        display: none;
    }

    .hero-section-group-two-inner-two-button {
        display: block;
        padding: 2rem 6rem 0rem 7rem;

    }

    .hero-section-heading {
        font-size: 42px;
        font-weight: 400;
        -webkit-text-stroke: 1px var(--yellow);
        padding: 5px 10px;
        text-align: center;
        flex-shrink: 0;
    }

    .hero-section-text {
        font-size: 18px;
        padding: 5px 10px;

    }

    .hero-section-text p {
        line-height: 25px;
        font-size: 22px;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .herosection-main {
        width: 100vw;
        height: 100vh;
        color: white;
    }

    .hero-section-group-one {
        display: grid;
        background-color: #0000009b;
        background-color: #0000009b;
        place-content: center;
        height: 100%;
    }

    .hero-section-tagline {
        display: flex;
        justify-content: start;
        /* margin-bottom: -40px; */
        padding: 10rem 6rem 0rem 3rem;
    }

    .hero-section-tagline p {
        padding: 10px 20px 10px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
    }

    .hero-section-group-two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }

    .hero-section-group-two-inner-one {
        width: 48%;
        margin-top: 2rem;
    }

    .hero-section-group-two-inner-one-text {
        font-size: 1.1rem;
    }

    .hero-section-group-two-inner-one-text p {
        text-align: start;
        line-height: 30px;
        margin-left: 58px;
    }

    .hero-section-group-two-inner-one-button {
        padding: 2rem 6rem 0rem 3rem;
    }

    .hero-section-group-two-inner-two-button {
        display: none;
    }

    .hero-section-heading {
        -webkit-text-stroke: 2px var(--yellow);
        font-size: 46px;
    }

    .hero-section-text {
        font-size: 1.8rem;
        text-align: start;
    }

    .hero-section-text p {
        font-size: 22px;
        line-height: 40px;
        display: flex;
    }

}

@media screen and (min-width: 1025px) and  (max-width: 1200px) {
    .herosection-main {
        width: 100vw;
        height: 100vh;
        color: white;
    }

    .hero-section-group-one {
        display: grid;
        background-color: #0000009b;
        background-color: #0000009b;
        place-content: center;
        height: 100%;
    }

    .hero-section-tagline {
        display: flex;
        justify-content: start;
        /* margin-bottom: -40px; */
        padding: 10rem 6rem 0rem 3rem;
    }

    .hero-section-tagline p {
        padding: 10px 20px 10px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
    }

    .hero-section-group-two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }

    .hero-section-group-two-inner-one {
        width: 48%;
        margin-top: 6rem;
    }

    .hero-section-group-two-inner-one-text {
        font-size: 1.7rem;
    }

    .hero-section-group-two-inner-one-text p {
        text-align: center;
        line-height: 30px
    }

    .hero-section-group-two-inner-one-button {
        padding: 2rem 6rem 0rem 3rem;
    }

    .hero-section-group-two-inner-two-button {
        display: none;
    }

    .hero-section-heading {
        -webkit-text-stroke: 2px var(--yellow);
        font-size: 46px;
    }

    .hero-section-text {
        font-size: 1.6rem;
        text-align: start;
    }

    .hero-section-text p {
        line-height: 40px;
        display: flex;
    }

}

