.contactUs_modal_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 53rem;
  padding: 2rem;
  z-index: 999;
  padding-top: 5rem;
  padding-bottom: 8rem;
  background-color: #FFFCEC;
}

.contactUs_modal_container input,
.contactUs_modal_container select,
.contactUs_modal_container textarea,
.contactUs_modal_container button {
  background-color: black;
  color: var(--yellow);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.contact-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(2, 2, 2, 0.493) !important;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .contact-background {
    position: relative;
  }

  .contactUs_modal_container {
    position: fixed;
    top: 0px;
    left: 0px;
    transform:none;
    width: 100%;
    /* max-width: 53rem; */
    height: 100vh;
    padding: 2rem;
    z-index: 999;
    padding-top: 1.2rem;
    padding-bottom: 8rem;
    background-color: white;
  }
}