.our-product-main_mobile{
display: none;
}
.crusel-hidden{
    display: none;
}
.OurProduct {
    padding: 5rem;
    background-color: #191919;
    color: white;
}

.OurProduct span {
    color: #FFDA14;
}
.our-product-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.25rem;
}

.OurProduct_div {
    height: 500px;
    width: calc(100%/4);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.OurProduct_div div h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 30px;

}

.OurProduct_div div p {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 0px 8px;
}

.OurProduct_div div .OurProduct_arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    flex-shrink: 0;

}

/* .OurProduct_div:hover{
    transform: skew(0deg);
} */

.OurProduct_div:nth-child(odd) {
    color: white;
    background-image: url("/images/home/prouductSectionRectangle1.png");
    background-size: cover;

}

.OurProduct_div:nth-child(odd) h3 {
    color: #000;
}

.OurProduct_div:nth-child(odd) p {
    color: #262626;
}

.OurProduct_div:nth-child(odd) .OurProduct_arrow {
    bottom: 65px;
    right: 25px;
    color: #000000;
}

.OurProduct_div:nth-child(even) {
    color: white;
    background-image: url("/images/home/prouductSectionRectangle2.png");
    background-size: cover;

}

.OurProduct_div:nth-child(even) h3 {
    color: #FFDA14;
}

.OurProduct_div:nth-child(even) p {
    color: #FFFFFF;
}

.OurProduct_div:nth-child(even) .OurProduct_arrow {
    bottom: 85px;
    right: 20px;
    color: #FFDA14;
}


@media screen and (max-width: 768px) {
    .crusel-hidden{
        display: block;
    }
    .OurProduct {
        padding: 2rem 1rem;
        background-color: #191919;
        color: white;
    }
    /* .OurProduct_div{
        height: 600px;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    } */

    .OurProduct span {
        color: #FFDA14;
    }

    .our-product-main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .25rem;
    }

    /* .our-product-main_mobile{
        width: 100%;
        display: flex;
        justify-content: center ;     
    } */

    .OurProduct_div{
        height: 530px;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

   
    .OurProduct_div div h3 {
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        margin-bottom: 30px;

    }

    .OurProduct_div div p {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        padding: 0px 8px;
    }

    .OurProduct_div div .OurProduct_arrow {
        position: absolute;
        width: 30px;
        height: 30px;
        flex-shrink: 0;

    }


    .OurProduct_div:nth-child(even) {
        width: 100% !important;
        color: white;
        background-image: url("/images/home/prouductSectionRectangle2.png");
        background-size: contain;
        background-repeat: no-repeat;
        
    
    }
    .OurProduct_div:nth-child(odd) {
        width: 100% !important;
        color: white;
        background-image: url("/images/home/prouductSectionRectangle1.png");
        background-size: contain;
        background-repeat: no-repeat;
        
    
    }
    .OurProduct_div:nth-child(odd) .OurProduct_arrow {
        bottom:101px;
        right: 25px;
        color: #000000;
    }
    .OurProduct_div:nth-child(even) .OurProduct_arrow {
        bottom: 131px;
        right: 20px;
        color: #FFDA14;
    }

    .even_div_product {
        color: white;
        width: 300px;
        background-image: url("/images/home/prouductSectionRectangle2.png");
        background-size:contain;
        background-repeat:no-repeat;

    }

    .even_div_product h3 {
        color: #FFDA14;
    }

    .even_div_product p {
        color: #FFFFFF;
    }

    .even_div_product .OurProduct_arrow {
        bottom: 135px;
        right: 10px;
        color: #FFDA14;
    }

    .product-card-arrow{
        top: 50%;
        transform: translateY(-50%);
        background: #000000;
        padding: 8px ;
        border-radius: 9999px;
    }
    .product-card-arrow svg{
        color: var(--yellow);
        font-weight: 700;
        font-size: 1.20rem;
    }
    
    .product-next{
        position: absolute;
        left: -37px;    
    }
    .product-back{
        position: absolute;
        right: -37px;
    }


}

@media screen and (min-width: 769px) and (max-width: 991px){
    .OurProduct_div div h3 {
        font-size: 28px;  
    }
    
    .OurProduct_div div p {
        font-size: 18px;

    }
    
}
@media screen and (min-width: 991px) and (max-width: 1225px){
    .OurProduct_div div h3 {
        font-size: 32px;  
    }
    
    .OurProduct_div div p {
        font-size: 22px;

    }
    
}