.nav-main-header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.47);
}

/* .nav-request-button{
    
} */
.nav-request-button span {
    padding: 10px 20px;
    background-color: rgba(255, 218, 20, 1);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
}

.active {
    border-radius: 82px;
    padding: 8px 25px;
    text-align: center;
    background: rgba(0, 0, 0, 0.32);
}