.feature:nth-child(1) {
    color: white;
    background-color: #0C0C0C;
  }
  
  .feature:nth-child(2) {
    background-color: #FFE34A;
  }
  
  .feature:nth-child(3) {
    background-color: #FFFBE5;
  }
  
  .feature:nth-child(4) {
    background-color: #FFDA14;
  }
  .feature:nth-child(5) {
    background-color: #FFFBE5;
  }
  .feature:nth-child(6) {
    color: yellow;
    background-color: black;
  }
